body {
  background: rgb(255, 248, 216);
  ;
}


@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.anim-text {
  animation-duration: 5s;
  animation-name: glissement;
  animation-iteration-count: infinite;
}

.aller {
  animation-direction: normal;
}

.text-container {
  position :relative;
  text-align: center;
  font-size: 5em;
  border-radius: 40px;
  animation-duration: 2s;
  animation-direction: reverse;
}



.fullbleed {
  border: 2px solid white;
  margin: 0;
  width: 50vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.fullbleed img {
  width: 100%;
}

section {
  /* background: rgb(89, 58, 40); */
  min-height: 10vh;
  /*  max-width: 840px;*/
  margin: 0 auto;
}


header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.main-menu li {
  flex-basis: 50em;
  /*border-left: 1px solid #000;
border-top: 1px solid #000;
border-right: 1px solid #000;
border-bottom: 1px solid #000;*/
}

.main-menu a {
  padding: 4em;
}

h1 {
  font-size: 5em;
  text-align: center;
  color: rgb(150, 165, 117);
  padding-bottom: 40px;
}

h2 {
  color: rgb(255, 199, 201);
  font-size: 2em;
  padding-bottom: 40px;
  padding-top: 60px;
}

video {
  justify-content: center;
  padding-top: 30px;
  padding-left: 12vw;
}

.text {
  background-image: url(images/honeycomb.jpeg);
}

#Etape1 {
  /*border: solid white;*/
  justify-content: center;
  background-image: url(image/bees.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 40px;
}

#Etape1 h2 {
  padding: 50px;
  margin-left: 450px;
  color: white;
}

#Etape1 .text1 {
  background: white;
  padding: 50px;
  margin: 200px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#Etape1 .video {
  justify-content: center;
  margin-left: 400px;
  margin-top: 0px;
  padding-bottom: 50px;
}

#Etape2 {
  /*border: solid white;*/
  justify-content: center;
  background-image: url(image/flowerbee.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 40px;
}

#Etape2 h2 {
  padding: 50px;
  margin-left: 450px;
  color: white;
}

#Etape2 .text2 {
  background: white;
  padding: 50px;
  margin: 200px;
  margin-top: 50px;
}


#Etape3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.text3 {
  flex-basis: 500px;
  padding-right: 50px;
  padding-top: 10em;
}

#Etape4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.text4 {
  flex-basis: 500px;
  padding-left: 50px;
}

#Etape5 {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 100px;

}

.gif {
  margin-left: 450px;
}

footer {
  border-top: 1px solid rgb(150, 165, 117);
  background: rgb(150, 165, 117);
  display: flex;
  align-items: center;
  justify-content: center;
}
