@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');


h1  {
font-family: 'Sansita Swashed', cursive;
}

h2 {
  font-family: 'Sansita Swashed', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}
